.productCard {
    position: relative; /* Allows for absolute positioning for the button */
    overflow: hidden; /* Hides any overflowing content */
    transition: transform 0.2s; /* Smooth transition effect */
  }
  
  .productCard:hover {
    transform: scale(1.05); /* Zoom effect on hover */
  }
  
  .addToCartButton {
    position: absolute;
    bottom: 10px; /* Align to the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    background-color: #ff5252; /* Red color */
    color: #fff; /* White text */
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .addToCartButton:hover {
    background-color: #ff0000; /* Darker red on hover */
  }

  mx-auto mb-4 w-full h-80 object-cover rounded-lg{
    width: 400px;
  }